#MoAclUser-login {background:#eee;padding:1em;border-radius:5px;}
#MoAclUser-login div {padding-bottom:.5em;width:90%;margin:0 auto;}
#MoAclUser-login div input {margin:2px auto;padding:5px;border-radius:5px;width:98%;}
#MoAclUser-login fieldset {border:1px solid #888;padding:1em;margin-bottom:.5em;font-size:.9em;border-radius:5px;}
